@import url("https://fonts.googleapis.com/css?family=Open+Sans:300, 400|Unica+One");
html,
body {
  margin: 0;
  height: 100%;
  position: relative;
  font-family: "Open Sans", sans-serif; }

.bg {
  position: absolute;
  width: 100%;
  height: 45%;
  -webkit-transition: opacity 2s;
  -moz-transition: opacity 2s;
  -ms-transition: opacity 2s;
  -o-transition: opacity 2s;
  transition: opacity 2s; }

.hidden {
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0); }

a {
  text-decoration: none;
  color: #898989;
  -webkit-transition: color 0.5s;
  -moz-transition: color 0.5s;
  -ms-transition: color 0.5s;
  -o-transition: color 0.5s;
  transition: color 0.5s; }

a:hover {
  color: #cccccc; }

header {
  cursor: default; }
  header h1 {
    font-size: 70px;
    margin: 0px;
    text-transform: uppercase;
    font-family: 'Unica One', cursive; }
  header nav {
    /* animating the link underline */ }
    header nav a {
      font-weight: 300;
      display: inline-block;
      margin: 0px 10px 0px 10px;
      position: relative; }
    header nav a:before {
      content: "";
      position: absolute;
      width: 100%;
      height: 2px;
      bottom: 0;
      left: 0;
      background-color: #cccccc;
      visibility: hidden;
      -webkit-transform: scaleX(0);
      transform: scaleX(0);
      -webkit-transition: all 0.3s ease-in-out 0s;
      transition: all 0.3s ease-in-out 0s; }
    header nav a:hover:before {
      visibility: visible;
      -webkit-transform: scaleX(1);
      transform: scaleX(1); }
    header nav .middot {
      font-size: 20px; }

.intro-header {
  text-align: center;
  min-height: calc(~"100vh + 150px");
  position: relative;
  top: 40%;
  -webkit-transform: translateY(-40%);
  -ms-transform: translateY(-40%);
  transform: translateY(-40%); }
  .intro-header h1 {
    color: white;
    font-size: 100px; }
  .intro-header nav {
    font-size: 35px; }

.content-header {
  text-align: left;
  position: relative;
  margin-left: 12%;
  margin-right: 14%;
  padding-top: 60px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center; }
  .content-header h1 {
    display: inline-block;
    color: black; }
  .content-header nav {
    display: inline-block;
    text-align: right;
    font-size: 27px; }

.content-wrapper {
  display: none;
  position: relative;
  padding-top: 50px;
  width: 65%;
  margin: auto; }
  .content-wrapper #about-section {
    display: none; }
  .content-wrapper #projects-section {
    display: none; }
  .content-wrapper #contact-section {
    display: none; }
  .content-wrapper .page {
    line-height: 180%;
    font-size: 19px;
    color: #333333; }

#about-section .about-container {
  display: flex;
  align-items: center; }
#about-section .about-image {
  display: inline;
  padding-right: 20px; }
#about-section .about-description {
  display: inline; }

#contact-section .contact-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%; }
#contact-section .contact-container a:hover {
  color: black; }
#contact-section .contact-block {
  text-align: center;
  display: block;
  margin: 10px;
  width: 120px;
  font-weight: bold; }
#contact-section .contact-block .tooltiptext {
  display: block;
  color: black;
  text-align: center;
  padding: 2px 5px 2px 5px;
  border-radius: 6px;
  z-index: 1;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.5s;
  -moz-transition: opacity 0.5s;
  -ms-transition: opacity 0.5s;
  -o-transition: opacity 0.5s;
  transition: opacity 0.5s;
  text-transform: lowercase; }
#contact-section .contact-block:hover .tooltiptext {
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100); }

#single-project-section .project-video {
  text-align: center;
  margin: 20px; }

/* project thumbnails */
.project-thumb-container {
  position: relative;
  display: inline-block;
  animation: fadeIn 0.5s linear;
  animation-fill-mode: both;
  margin: 10px; }

.project-thumbnail {
  display: block; }

.project-thumb-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0.85;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=85)";
  filter: alpha(opacity=85);
  transition: .5s ease;
  background-color: #fff; }

.project-thumb-container:hover .project-thumb-overlay {
  opacity: 0; }

.project-thumb-text {
  color: black;
  font-weight: bold;
  font-size: 22px;
  position: relative;
  left: 50%;
  top: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%); }

.project-stack {
  font-size: 18px;
  text-transform: lowercase;
  font-weight: normal;
  color: gray; }

.project-thumb-container:nth-child(1) {
  animation-delay: 0.25s; }

.project-thumb-container:nth-child(2) {
  animation-delay: 0.5s; }

.project-thumb-container:nth-child(3) {
  animation-delay: 0.75s; }

.project-thumb-container:nth-child(4) {
  animation-delay: 1s; }

.project-thumb-container:nth-child(5) {
  animation-delay: 1.25s; }

.project-thumb-container:nth-child(6) {
  animation-delay: 1.5s; }

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
    top: 100px; }
  75% {
    opacity: 0.5;
    top: 0px; }
  100% {
    opacity: 1; } }
@media screen and (max-width: 568px) {
  .bg {
    height: 38%; }

  .intro-header h1 {
    font-size: 70px;
    margin-bottom: 10px; }
  .intro-header nav a {
    font-size: 30px;
    display: block;
    margin-bottom: 10px; }
  .intro-header .middot {
    display: none; }

  .content-wrapper {
    width: 80%; }

  .content-header {
    text-align: center;
    justify-content: center;
    padding-top: 30px; }
    .content-header h1 {
      font-size: 50px; }

  #about-section .about-container {
    flex-direction: column; }
  #about-section .about-image {
    padding-right: 0px; }
    #about-section .about-image img {
      height: 300px; }

  .all-projects {
    text-align: center; } }

/*# sourceMappingURL=styles.css.map */
